:root {
    --bg-main: #2e3440;
    --bg-code: #242933;
    --bg-inline-code: #3b4252;
    --text-main: #d8dee9;
    --text-inline-code: #eceff4;
    --accent-blue: #88c0d0;
    --accent-gold: #ebcb8b;
    --accent-dark-blue: #5e81ac;
    --link-color: #81a1c1;
    /* Syntax */
    --syntax-keyword: #81a1c1;
    --syntax-func: #88c0d0;
    --syntax-str: #a3be8c;
    --syntax-num: #b48ead;
    --syntax-op: #8fbcbb;
    --syntax-comment: #4c566a;
    --syntax-var: #d8dee9;
}
