:root {
    --bg-main: #24283b;
    --bg-code: #1a1b26;
    --bg-inline-code: #414868;
    --text-main: #a9b1d6;
    --text-inline-code: #c0caf5;
    --accent-blue: #7aa2f7;
    --accent-gold: #e0af68;
    --accent-dark-blue: #3d59a1;
    --link-color: #7aa2f7;
    /* Syntax */
    --syntax-keyword: #bb9af7;
    --syntax-func: #7aa2f7;
    --syntax-str: #9ece6a;
    --syntax-num: #ff9e64;
    --syntax-op: #89ddff;
    --syntax-comment: #565f89;
    --syntax-var: #c0caf5;
}
